
/* W R A P P E R
--------------------*/
#wrapper
{
width:1200px;
margin:0 auto 0 auto;
}

/* H E A D E R
-------------------*/
header
{
width:1200px;
height:100px;
background-image:url("headerimage.jpg");

}




/* N A V B A R
-------------------*/
#myul
{
width:auto;
height:30px;
background-color:red;
margin: 0;
padding-top: 5px;


}
#myul li{
display: inline;
float:right;
padding-right:20px;
font-weight:bold;
font-size:25px;
font-style:bold;
letter-spacing:2px;


}

/* C O N T E N T
-------------------*/
#content
{
width:1200px;
height:500px;
background-color:white;

}
#contenttxt
{
text-align:right;

}
/* F O O T E R
-------------------*/
footer
{
width:1200px;
height:30px;
background-color:red;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;


}
